
*{
    margin:0;
    padding: 0;

}


body{

    
  
}

button{
    position: absolute;
    background-color: rgb(233, 17, 17);
    padding: 20px;
    top: 410px;
    width: 250px;
    border: none;
    left: 1100px;
    color:white;
}

button:hover{
    background-color: rgb(119, 255, 85);
}

.Oficina{
    top:50%;
    background-color: black;
    position: absolute;
}
